.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin-top: 3em;
  margin-bottom: 10em;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
  margin-top: 20px;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  margin-bottom: 25px;
  padding: 10px;
  border: 2px solid #ff6600;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.secheading {
  font-size: 36px;
  color: black;
  font-weight: bold;
}

.category h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}
