body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* navbar  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #427D9D; */
  padding: 10px 20px;
}

.navbar .left,
.navbar .center,
.navbar .right {
  display: flex;
  align-items: center;
}

.navbar .center {
  margin: 0 auto;
}

.navbar a {
  color: #0b0849;
  text-decoration: none;
  margin: 0 10px;
  padding: 8px 12px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #fa733c;
  color: white;
  margin: 1em;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  line-height: 14px;
  height: 15px;
  transition: background-color 0.3s;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  color: #0b0849;
}

.navbar .btn-post-job {
  background-color: #fa733c;
  color: white;
  margin: 1em;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  border-color: #fa733c;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  line-height: 40px;
  height: 40px;
  transition: background-color 0.3s;
}

.navbar .btn-post-job:hover {
  background-color: white;
  color: #fa733c;
  border: 1px solid #fa733c;
}

.navbar .btn-find-consultant {
  background: white;
  color: #0b0849;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  border-color: #fa733c;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  line-height: 40px;
  height: 40px;
}

.navbar .btn-find-consultant:hover {
  background-color: #fa733c;
  color: white;
}

.navbar .btn-signup,
.navbar .btn-signin {
  background-color: transparent;
  color: #0b0849;
  border: none;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  align-items: center;
}

.navbar .btn-signup img,
.navbar .btn-signin img {
  margin-right: 5px;
}

/* navbar css end here  */

.login-container {
  display: flex;
  height: calc(100vh - 40px);
  margin: 30px auto;
  max-width: 1200px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.login-image {
  flex: 1;
  background-color: #ddd;
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-form {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
}

.login-form h2 {
  margin-bottom: 20px;
  font-size: 2em;
  color: #333;
  text-align: center;
  justify-content: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.forgot-password {
  margin-bottom: 20px;
  text-align: right;
}

.forgot-password a {
  color: #007bff;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.login-button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.social-login {
  margin-top: 20px;
  text-align: center;
}

.social-login p {
  margin-bottom: 10px;
  color: #333;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icon {
  margin: 0 10px;
  font-size: 1.5em;
  color: #333;
  text-decoration: none;
}

.social-icon:hover {
  color: #007bff;
}

.google {
  color: #db4437;
}

.facebook {
  color: #4267b2;
}

.no-account {
  margin-top: 20px;
  text-align: center;
}

.no-account a {
  color: #007bff;
  text-decoration: none;
}

.no-account a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    height: auto;
  }

  .login-image,
  .login-form {
    flex: none;
    width: 100%;
  }

  .login-image {
    height: 300px;
  }
}

/* footer start here  */
.footer {
  color: black;
  background-color: white;
  padding: 5px;
  border-top: 1px solid #e1e1e1;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1250px;
  margin: 0 auto;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
}

.footer-center {
  text-align: center;
}

.footer-center a {
  margin: 0 10px;
  color: #080808;
  text-decoration: none;
  font-size: 1em;
}

.footer-center a:hover {
  text-decoration: underline;
  color: #fa733c;
}

.login-button {
  background-color: #fa733c;
  color: white;
}

.login-button:hover {
  color: black;
  background-color: transparent;
  border: 2px solid #fa733c;
}

.footer-right {
  text-align: right;
}

.social-icon {
  margin: 0 10px;
  color: #0d0d0d;
  font-size: 1.5em;
  text-decoration: none;
}

.google {
  color: red;
}

.facebook {
  color: blue;
}

.social-icon:hover {
  color: #fa733c;
}

.no-account a {
  color: #fa733c;
}

.forgot-password a {
  color: #fa733c;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    margin-bottom: 15px;
  }

  .footer-right {
    text-align: center;
  }
}
