.container {
  font-family: sans-serif;
  background-color: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  margin-bottom: 3em;
}

.header {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2em;
  font-weight: bold;
  color: #333;
}

.logo-size {
  width: 13em;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav li {
  margin-right: 20px;
}

.nav a {
  color: #333;
  text-decoration: none;
}

.actions {
  display: flex;
}

.btn {
  background-color: #ff6600;
  color: #fff;
  border: none;
  padding: 13px 20px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 7px;
  font-weight: bold;
}

.btn2 {
  background-color: #fff;
  color: black;
  border: 2px solid #ff6600;
  padding: 13px 20px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 7px;
  font-weight: bold;
}

.btn:hover {
  border: 2px solid #ff6600;
  background-color: #fff;
  color: black;
}

.btn2:hover {
  border: none;
  background-color: #ff6600;
  color: #fff;
}

.navbar-login-register {
  padding: 20px 10px;
  color: black;
  font-weight: bold;
}

.main {
  padding: 20px;
  display: flex;
  margin: 5em 10em;
}

.hero {
  /* text-align: center; */
  padding-right: 5em;
}

.hero2 {
  width: 70em;
  height: 20em;
  border: 2px solid black;
  padding-right: 5em;
}

.hero h2 {
  color: #0b0849;
  font-size: 3em;
  line-height: 1.16em;
}

.hero p {
  line-height: 1.6;
}

.p1 {
  font-weight: bold;
  color: black;
  font-size: 1.4em;
}

.footer {
  background-color: #ffffff;
  color: black;
  padding: 20px;
  text-align: center;
}

.copyright {
  font-size: 0.8em;
}

.hr {
  width: 80em;
  height: 2px;
  background-color: #ff6600;
  border-radius: 10px;
  border: 0px solid #ff6600;
  /* margin: 0px 0px;  */
}
